<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
{{- partial "head.html" . -}}
{{- partial "header.html" . -}}
<body>
  <div class="search js-only"><input type="search" placeholder="Buscar negocios, servicios, locaciones..." id="search" data-search></div>
  <div class="cardscontainer" id="cardscontainer">
    {{ range .Pages }}
    <a href="{{ .RelPermalink }}" data-tags="[{{ .Params.tags }}]"><div class="card"><h2>{{ .Title }}</h2><p>{{ .Params.description }}</p></div></a>
    {{ end }}
  </div>
  <div id="content" class="content">
    {{ .Content }}
  </div>
</body>
{{- partial "footer.html" . -}}
</html>
