<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
{{- partial "head.html" . -}}
{{- partial "profileheader.html" . -}}
<body>
  <div id="content" class="content">
    {{ .Content }}
  </div>
</body>
{{- partial "footer.html" . -}}
</html>
