:root {
  --background-color: white;
  --color: black;
  --color: black;
  --page-width: 768px;
  --navbar-width: 50%;
  --font-family: sans-serif;
  --logo: url('logo.png');
  --unemph-color: #505050;
  --hover-background: #dcdcdc;
  --hover-border: #aaa;
  --line-height: 1.7;
  --smaller-font: 0.75em;
  --hyper-color: #0f82af;
  text-align: justify;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d2021;
    --color: white;
    --hover-background: #282c2d;
    --unemph-color: #909090;
    --hover-border: #505050;
    --hyper-color: #00b4db;
  }
}

@media (max-width: 900px) {
  :root {
    --page-width: 90%;
    --navbar-width: 50vh;
  }
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  margin-top: 1.5em;
  line-height: 1.2em;
}

a {
  color: var(--hyper-color);
}

.content a:hover {
  text-decoration: underline;
}

.banner {
  padding: 6vh;
  box-shadow: 0 15vh 30vh black inset;
  background-position: 50%;
  background-size: cover;
  margin-bottom: 1em;
}

.desc h1,
.desc p {
  text-align: center;
  margin: 1em auto -0.4em auto;
  max-width: 90%;
}

.desc p {
  margin-bottom: 1em;
}

div.banner h1 {
  color: white;
  margin-bottom: -0.2em;
}

div.banner p {
  color: white;
  line-height: 1em;
}

div.profilepicture img {
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  width: 50%;
  max-width: 250px;
  border-radius: 50%;
}

div.search {
  text-align: center;
  margin: 1em 0 2em 0;
}

input {
  background-color: var(--hover-background);
  color: var(--unemph-color);
  border-radius: 50px;
  border: 1px solid var(--hover-border);
  text-align: left;
  max-width: 30em;
  width: 90%;
  padding: 1.2em;
  font-size: 1em;
}

div.cardscontainer {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  display: grid;
  line-height: 0.2em;
  margin: 0 auto;
  width: 95%;
}

div.cardscontainer p {
  color: var(--unemph-color);
  text-align: left;
  line-height: 1.2em;
}

div.cardscontainer h1,h2,h3 {
  color: var(--color);
  line-height: 1.2em;
  margin-bottom: -0.4em;
}

div.card {
  border: 1px solid var(--hover-border);
  color: black;
  border-radius: 10px;
  padding: 0 1em;
  margin: 0 0.5em 1.5em 0.5em;
  transition: all 0.3s ease 0s;
  text-align: left;
}

div.card h2,a {
  text-decoration: none;
  margin-top: 0.8em;
}

div.card:hover {
  background-color: var(--hover-background);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.content {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  margin-bottom: 2em;
}

.content li {
  line-height: 1.4em;
  text-align: left;
}

.content p {
  line-height: 1.4em;
  text-align: justify;
}

.content img {
  margin: 0 auto;
  width: 100%;
  margin: 1em 0;
}

footer {
  background-color: var(--hover-background);
  color: var(--unemph-color);
  text-align: center;
  width: 100%;
  margin: 1em auto 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

table {
  width: 60%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 16px;
}

th, td {
  padding: 12px;
  text-align: left;
}

thead th {
  font-weight: bold;
  border-bottom: 1px solid var(--hover-border);
}

td {
  border-bottom: 1px solid var(--hover-border);
}

li {
  margin-bottom: 0.8em;
}
